<div class="user-details">
  <h1> Writeups </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Cyber Forensics" src="{{ "/assets/img/Forensics.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <ul>
      <li> <a class="picoCTF 2019" href= "https://2019game.picoctf.com/">picoCTF 2019</a> </li>
    </ul>
    <p>picoCTF is a free computer security game targeted at middle and high school students, created by security experts at Carnegie Mellon University. The game consists of a series of challenges centered around a unique storyline where participants must reverse engineer, break, hack, decrypt, or do whatever it takes to solve the challenge. The challenges are all set up with the intent of being hacked, making it an excellent, legal way to get hands-on experience.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
</div>
