<div class="user-details">
  <h1> Writeups </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="picoCTF 2019" src="{{ "/assets/img/picoctf-logo-og.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>picoCTF 2019</h3>
    <ul>
      <li> <a class="picoCTF 2019" href= "https://2019game.picoctf.com/">picoCTF 2019</a> </li>
    </ul>
    <p>picoCTF is a free computer security game targeted at middle and high school students, created by security experts at Carnegie Mellon University. The game consists of a series of challenges centered around a unique storyline where participants must reverse engineer, break, hack, decrypt, or do whatever it takes to solve the challenge. The challenges are all set up with the intent of being hacked, making it an excellent, legal way to get hands-on experience.</p>
    <a class="project-link" href="https://ctf.home.blog/ target=_blank">Check it out</a>
  </div>
 <div class="images-left">
    <img alt="Reverse Engineering" src="{{ "/assets/img/RE.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Reverse Engineering Tasks</h3>
    <p>These are the walkthroughs of the reverse engineering tasks given to us for practice.</p>
    <a class="project-link" href="https://github.com/AbijithPrasanthan/Reversing-Tasks target=_blank">Check it out</a>
  </div>
</div>
